<hr />
<%= form_for @artist do |a|%>
    <div class="field">
      <%= a.label "New Artist" %><br />
      <br />
      <%= a.text_field :name, required: true, placeholder: "New chart name" %>
    </div>
    <br />
    <br />
    <%= f.submit nil, class: "ui button primary" %>
    <br />
    <br />
  <% end %>