<h1>Billboards</h1>
<hr />
<ul>
    <% @billboards.each do |b| %>
        <li><%= link_to b.charts, billboard_path(b) %></li>
    <% end %>
</ul>
<br />
<%= link_to "Add a new Billboard", new_billboard_path, class: "ui button" %>